<div class="row justify-content-md-center sharing-area text-center" data-background-color="black">
  <div class="text-center col-md-12 col-lg-8 mt" style="padding-top: 50px;">
    <h3>Thank you for supporting us!</h3>
  </div>
  <div class="text-center col-md-12 col-lg-8">
    <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
      <i class="fab fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
<footer class="footer" data-background-color="black">
  <div class=" container ">
    <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
        2024, Desarrollado por
      <a href="https://www.invisionapp.com" target="_blank">Digital Code</a>.
    </div>
  </div>
</footer>